/Users/arjunsingh/Documents/Projects/p/Project1/myapplication.log.2020-07-26.04535101166742.tmp/Users/arjunsingh/Documents/Projects/p/Project1/myapplication.log.2020-07-27.0.gz/Users/arjunsingh/Documents/Projects/p/Project1/myapplication.log/Users/arjunsingh/Documents/Projects/p/Project1/application.log